html {
    font-size: 62.5%;
    * {
        font-family: 'Open Sans', sans-serif !important;
    }
}

body {
    overflow-x: hidden;
}

.header {
    border-bottom: 3px solid $blue-dark;
}

.header-container {
    margin: 0 auto;
    width: 90%;
    @media #{$tablet} {
        width: 500px;
    }

    @media #{$desktop} {
        width: 700px;
    }
}

.header-logo {
    border-radius: 50%;
    float: left;
    height: 50px;
    transform: translateY(50%);
    width: auto;
}

.header-nameContainer {
    float: right;
    text-align: right;
}

.header-name {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 0;
}

.header-title {
    color: $blue-light;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0;
}

.hero-image {
    height: auto;
    width: 100%;
}

.showcase {
    text-align: center;
}

.showcase-title {
    color: $blue-light;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    @media #{$desktop} {
        margin-left: 10rem;
        text-align: left;
    }
}

.showcase-img {
    height: 150px;
    width: 150px;
}

.showcase-imgTitle {
    font-weight: 400;
    font-size: 3.5rem;
}

.showcase-link {
    color: #333;
    text-decoration: none;
}

